<!DOCTYPE html>
<html>

<head>
    <title>
       ahii
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
 

    <form action="/product" method="POST" enctype="multipart/form-data">
        <input name="username" type="text"/>
        <input name="ten" type="text"/>
        <input name="upload" type="file" accept=".jpg,.jpeg,.png"/>
        <button type="submit">Submit</button>
    </form>
</body>

</html>